_x.hw.xilinx_u280_xdma_201920_3/
build_dir.hw.xilinx_u280_xdma_201920_3/
packaged_kernel_*/
tmp_kernel_pack_*/
packaged_kernel_network_krnl_hw_xilinx_u280_xdma_201920_3/
tmp_kernel_pack_network_krnl_hw_xilinx_u280_xdma_201920_3/
tmp_kernel_pack_user_krnl_hw_xilinx_u280_xdma_201920_3/
packaged_kernel_user_krnl_hw_xilinx_u280_xdma_201920_3/
.ipcache/
sample_link.ini
network_types.svh
#package_*_krnl.tcl
post_sys_link.tcl
cmac_krnl_slr.txt
network_krnl_mem.txt
build/
builds_old/
build_old/
bstreams/
iprepo/
tmp/
hd_visual/
ip_dir/
xsim.dir/
tb_user/
ip/
.Xil/
.vscode/
*.pb
*.log
*.tmp
*.jou
*.str
#*.xml
*.config
*.zip
!network_krnl.xml
!user_krnl.xml
